*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #002339;
    color: #fff;
    /* max-height: 100vh; */
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    /* width: 70%; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    
    margin-bottom: 20px;
    height: 60px;
    border-radius: 3px;
    padding: 0 10px;
    align-items: center;
    width: 280px;
}
input{
    border-radius: 3px;
    padding: 5px;
    border: solid yellow 0px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 280px;
}
button{
    font-size: 16px;
    margin-bottom: 20px;
    height: 60px;
    width: 200px;
    text-align: start;
    border: solid yellow 0px;
    border-radius: 3px;
    background-color: rgb(12, 143, 67);
    color: white;
}
.bi-files{
    color: rgb(12, 143, 67);
}

.display i {
    cursor: pointer;
    font-size: 18px;
}
.bi-lightning-fill{
    margin: 8px;
    color: white;
}
span{
    color:  rgb(12, 143, 67);
    /* text-decoration: underline; */
    border-bottom: 4px solid rgb(12, 143, 67);
    padding-bottom: 7px;
}