.card{
    /* background-color: pink;
    height: 90%;
    width: 50%;
    margin: 10px; */
    height: 80vh;

    background-color: rgb(255, 255, 255);
    flex: 1;      
    border-radius: 12px;    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
#in-card{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details{
    /* background-color: aqua; */
    padding: 10px;
    height: 40%;
    margin: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#out-card{
    /* box-sizing: border-box; */
    /* padding: 20px; */
    /* display: flex; */
    /* gap: 10px; */
    display: flex;
    flex-direction: column;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}